{{> header }}

<div class="container">
    <section>
        <div class="col-lg-12 genre-section rounded-lg bg-cs-1">
            <div class="col-1g-12 pl-3 pt-5">
                <h1>{{genreName}} movies</h1>
            </div>
            <div class="col-lg-12 row">
                {{#each genreMovies}}
                <div class="col-md-3 pt-5 pb-5 carousel-cell">
                    <a href="/movie/{{id}}">
                        <div class="card  bg-cs-2 shadow-sm">
                            <img src="https://image.tmdb.org/t/p/original/{{poster_path}}" class="card-img-top" alt="...">
                            <div class="card-body text-light">
                                <h4>{{original_title}}</h4>
                                <p class="card-text">{{splitYear release_date}}</p>
                            </div>
                        </div>
                    </a>
                </div>
                {{/each}}
            </div>
        </div>
    </section>
</div>
