{{> header}}
<div>
    {{#if successMessage}}
        <p class="success-message">{{successMessage}}</p>
    {{/if}}

    {{#if message}}
        <p class="error">{{message}}</p>
    {{/if}}                
</div>                    
<div class="container">
        <section>
            <div class="col-lg-12 genre-section rounded-lg bg-cs-1">
                <div class="col-lg-12 row">
                    <div class="col-md-4 pt-5 pb-5">
                        <div class="card bg-cs-2 shadow-sm">
                            <img src="https://image.tmdb.org/t/p/original/{{movie.poster_path}}" class="card-img-top" alt="...">
                        </div>
                    </div>
                    <div class="col-md-8 pt-5 pb-5">
                        <div class="col-md-12 row">
                            <div class="col-md-12">
                                <h2>{{movie.title}}</h2>
                            </div>
                            <div class="col-md-12">
                                <p class="lead font-weight-light">{{splitYear movie.release_date}}<p>
                            </div>
                            <div class="col-md-12">
                                <p class="lead font-weight-bold">Genre: <span class="font-weight-light">
                                    {{#each movie.genres}}
                                    {{name}}{{#if @last}}{{else}} | {{/if}}
                                    {{/each}}</span
                                ><p>
                            </div>
                            <div class="col-md-12">
                                <p class="lead font-weight-bold">Running Time: <span class="font-weight-light">{{convertToHours movie.runtime}}</span><p>
                            </div>
                            <div class="col-md-6">
                                <div class="pt-1 pb-1">
                                    <p class="lead font-weight-bold">Rating: <span class="Stars" style="--rating: {{ratingRoundToFive movie.vote_average}};" aria-label="Rating of this product is {{ratingRoundToFive movie.vote_average}} out of 10."></span></p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                    {{#if session}}
                                    <a class="btn btn-primary my-2
                                            my-sm-0 btn-lg" type="submit" id="Rate-movie"
                                        onclick="openModal(rateMovieModal)">Rate movie</a>
                                    {{else}}
                                    <a class="btn btn-primary my-2
                                            my-sm-0 btn-lg" type="submit" id="login-modal"
                                        onclick="openModal(rateLoginModal)">Login to Rate Movie</a>
                                    {{/if}}
                            </div>
                            <div id="rateLoginModal" class="modal">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <div class="content-center">
                                            <a class="navbar-brand" href="/"><img src="/img/logo.png" width="240"
                                                    height="40" class="d-inline-block align-top" alt=""></a>
                                            <span onclick="closeModal(rateLoginModal)" id="modal-close"
                                                class="modal-close-box">&times;</span>
                                        </div>
                                    </div>

                                    <div class="content-center">
                                        <div class="col-lg-12 genre-section rounded-lg bg-cs-1">
                                            <h1 class="font-weight-bold text-center p-3">LogIn</h1>
                                            <div class="col-mg-12 pb-5 pl-5 pr-5">
                                                <div id="error"></div>
                                                <form id="loginModalForm" class="mb-3">
                                                    <div class="form-group p-3">
                                                        <input type="email" name="email" placeholder="Email address"
                                                            class="form-control" id="userEmail"
                                                            aria-describedby="emailHelp" required="true" value="">

                                                    </div>

                                                    <div class="form-group p-3 mb-4">
                                                        <input type="password" name="password" placeholder="Password"
                                                            class="form-control" id="userPassword" required="true"
                                                            value="">
                                                    </div>

                                                    <div class="my-3 text-center">
                                                        <button type="submit"
                                                            class="btn btn-primary btn-lg" id="modalLogin">Login</button>
                                                    </div>
                                                </form>

                                                <div class="text-center">
                                                    <a class="text-light" href="/signup">Need an account? Sign up
                                                        here.</a>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="rateMovieModal" class="modal">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <div class="content-center">
                                            <a class="navbar-brand" href="/"><img src="/img/logo.png" width="240"
                                                    height="40" class="d-inline-block align-top" alt=""></a>
                                            <span onclick="closeModal(rateMovieModal)" id="modal-close"
                                                class="modal-close-box">&times;</span>
                                        </div>
                                    </div>

                                    <div class="content-center">
                                        <div class="col-lg-12 genre-section rounded-lg bg-cs-1 pt-5">
                                            <h3 class="font-weight-light text-center p-3">How many stars would you give
                                                for the movie
                                                <br /><span class="font-weight-bold">{{movie.title}}</span>
                                            </h3>
                                            <div class="col-mg-12 pb-5 pl-5 pr-5">
                                                <div id="error"></div>
                                                <form id="ratingModalForm" class="mb-3">
                                                    <div class="row">
                                                        <div class="rate mx-auto">
                                                            <input type="radio" class="rating" id="star5" name="rating" value="5" />
                                                            <label for="star5" title="text">5 stars</label>
                                                            <input type="radio" class="rating" id="star4" name="rating" value="4" />
                                                            <label for="star4" title="text">4 stars</label>
                                                            <input type="radio" class="rating" id="star3" name="rating" value="3" />
                                                            <label for="star3" title="text">3 stars</label>
                                                            <input type="radio" class="rating" id="star2" name="rating" value="2" />
                                                            <label for="star2" title="text">2 stars</label>
                                                            <input type="radio" class="rating" id="star1" name="rating" value="1" />
                                                            <label for="star1" title="text">1 star</label>
                                                        </div>
                                                        <div class="col-lg-12 my-3 text-center">
                                                            <button type="submit"
                                                                class="btn btn-primary btn-lg" id="modalRating">Submit</button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="rateThanksModal" class="modal">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <div class="content-center">
                                            <a class="navbar-brand" href="/"><img src="/img/logo.png" width="240"
                                                    height="40" class="d-inline-block align-top" alt=""></a>
                                            <span onclick="closeModal(rateThanksModal)" id="modal-close"
                                                class="modal-close-box">&times;</span>
                                        </div>
                                    </div>

                                    <div class="content-center">
                                        <div class="col-lg-12 genre-section rounded-lg bg-cs-1 pt-5">
                                            <h3 class="font-weight-light text-center p-3">Thanks for rating the movie
                                                <br /><span class="font-weight-bold">{{movie.title}}</span>
                                            </h3>
                                            <div class="col-lg-12 my-3 text-center">
                                                <button type="submit" onclick="closeModal(rateThanksModal)"
                                                    class="btn btn-primary btn-lg" id="modalThanks">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <p class="lead font-weight-bold">Overview: <span class="font-weight-light">{{movie.overview}}</span><p>
                            </div>
                            <div class="col-md-6">
                                    <p class="lead font-weight-bold">Director: <span class="font-weight-light">Enrico Casarosa</span></p>
                            </div>
                            <div class="col-md-6">
                                <a href="#" class="lead font-weight-bold text-light text-decoration-none"><i class="fa fa-play"></i> Play trailer</a>
                            </div> 
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-1g-12 pl-3 pt-5 pb-3">
                            <h3>Movie cast</h3>
                        </div> 
                        <div class="carousel" data-flickity='{ "groupCells": true }'>
                            {{#each movieCredits.cast}}
                            <div class="col-md-2 pt-2 pb-5 carousel-cell">
                                <div class="card  bg-cs-2 shadow-sm">
                                    <img src="https://image.tmdb.org/t/p/original/{{profile_path}}" class="card-img-top" alt="...">
                                    <div class="card-body text-light">
                                        <h6>{{name}}</h6>
                                        <p class="card-text">{{character}}</p>
                                    </div>
                                </div>
                            </div>
                            {{/each}}
                        </div>
                    </div>
                </div>
            </div>
        </section>
            <section>
        <div class="col-lg-12 genre-section rounded-lg bg-cs-1">
            <div class="col-1g-12 pl-3 pt-5">
                <h1>Popular movies<h1></h1>
            </div>
            <div class="carousel" data-flickity='{ "groupCells": true, "autoPlay": 5000 }'>
                {{#each popularMovies}}
                <div class="col-md-3 pt-5 pb-5 carousel-cell">
                    <a href="/movie/{{id}}">
                        <div class="card  bg-cs-2 shadow-sm">
                            <img src="https://image.tmdb.org/t/p/original/{{poster_path}}" class="card-img-top" alt="...">
                            <div class="card-body text-light">
                                <h4>{{original_title}}</h4>
                                <p class="card-text">{{splitYear release_date}}</p>
                            </div>
                        </div>
                    </a>
                </div>
                {{/each}}
            </div>
        </div>
    </section>
        
    </div>
