<h2>Welcome to our movie rating app - movie page</h2>
            <a href="/movies/{{data.id}}">
                {{!-- Add image here
                <img class="mw-shadow" src="{{this.medium_cover_image}}" alt="{{this.title}} poster"> --}}
            </a>
            <h4 class="card-title mt-4 mb-3">{{data.title}}</h4>
            {{!-- <p>Movie ID: {{this.id}}</p> --}}